input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}
.numTextBox {
    width: 40px;
}
.checkbox {
    padding-top:10px;
}
.big-checkbox {
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
}
.tobMenu > div {
    background-color: #faf2f1;
    border-radius: 5px;
}
.btn {
    border: solid 1px;
    border-radius: 4px;
    color: white;
}
.calculatorT tr {
    text-align: center;
}
.calculatorT tr input[type=text] {
    border:solid 1px #ebe7e7;
}
.table-hover {
    border:solid 1px white;
}
.table-hover tr:hover td {
    border-bottom:solid 2px rgb(2, 27, 255);
 }

.defaultVal {
    color: rgb(146, 143, 143)
}
.userCheck {
    background-color: #91f0ff;

}
.priceCol {
    background-color: rgb(253, 253, 57);
}