input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}
.topMenu {
    display: flex;
    justify-content: center;
    border: 1.7px solid #a0d6db;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
}
.topMenuForm {
    display: flex;
}
.topMenuForm > div {
    flex: auto;
    background-color: #faf2f1;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    font-size: 15px;
    font-weight: bold;
    color: #402f2f;
}
.topMenuForm > div > input {
    font-size: 15px;
    font-weight: bold;
    border: 1px solid lightgray;
    line-height: 27px;
}
.topMenuForm > div > label {
    position: relative;
    bottom: 1px;
}
.numTextBox {
    width: 25px;
}
.checkbox {
    padding-top:10px;
}
.big-checkbox, .big-check {
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
}
.btn, .savebtn, .deletebtn{
    border: solid 1px;
    border-radius: 4px;
    color: white;
}
.btn, .savebtn{
    background-color: #33b4db;
}
.deletebtn {
    background-color: #e23636;
}
.savebtn, .deletebtn {
    padding: 5px 0 5px 0;
}
.btn:hover, .savebtn:hover{
    background-color: #2a90af;
}
.deletebtn:hover {
    background-color: #9c2323;
}
.btn:hover, .savebtn:hover, .deletebtn:hover {
    cursor: pointer;
}
.dateBox {
    display: flex;
    justify-content: center;
}
table.calculatorTable{
    border-left:1px solid #00bfff;
    border-right: 1px solid #00bfff;
    vertical-align: middle;
}
table.calculatorTable > thead > tr > th, table.calculatorTable > tbody > tr > td {
    border-left:1px solid #00bfff;
    border-right: 1px solid #00bfff;
    vertical-align: middle;
    text-align: center;
}
.calculatorTable > thead > tr {
    color: #402f2f
} 
.calculatorTable {
    border-collapse: collapse;
}
.calculatorTable > thead > tr > th { 
    background-color:#33b4db6e;
    padding: 3px 0 3px 0;
}
.calculatorTable td { 
    background-color:#f8f8f8;
    border-bottom: 2px solid #f4f4f4;
    padding: 4px 0 4px 0;
}
.calculatorTable :nth-child(3) {
    border-top: 2px solid #f4f4f4;
}
.calculatorT tr {
    text-align: center;
}
.calculatorT tr input[type=text], .calculatorT tr input[type=number]{
    border:solid 1px #ebe7e7;
    font-size: 16px;
}
.calculatorT tr input[type=number] {
    text-align: right;
}
.calculatorT tr input[type=text] {
    text-align: center;
}
.productInfoName {
    font-size: 16px;
    font-weight: bold;
}
.marginFont {
    font-weight: bold;
}
.table-hover tr:hover td {
    border-bottom: solid 2px cornflowerblue;
    border-top: solid 1px #00bfff !important;
    background-color: #f6f0f0;
}
.userCheck {
    background-color: #61aff76e !important;
}
.priceCol {
    background-color: rgb(251 251 30 / 63%) !important;
}
.lightText {
    color:gray
}
.boxCheked {
    display: none;
}
.boxCheck {
    display: none;
}
.pricebtn {
    float: right;
    font-size: 16px;
    padding: 8px 16px 8px 16px;
    margin: 5px 10px 5px 10px;
}

/* price table */
#priceT_tbody > tr > td:nth-child(1),td:nth-child(2) {
    text-align: center;
}
#priceT_tbody > tr > td:nth-child(3),td:nth-child(4) {
    text-align: right;
}
#priceT_tbody > tr > td > span {
    font-weight: bold;
}
.tr_bg {
    background-color:#e7f7f7;
}